In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as matlab

In [2]:
stk_data=pd.read_csv("IOT-temp.csv")
stk_data

,id,room_id/id,noted_date,temp,out/in
0,__export__.temp_log_196134_bd201015,Room Admin,08-12-2018 09:30,29,In
1,__export__.temp_log_196131_7bca51bc,Room Admin,08-12-2018 09:30,29,In
2,__export__.temp_log_196127_522915e3,Room Admin,08-12-2018 09:29,41,Out
3,__export__.temp_log_196128_be0919cf,Room Admin,08-12-2018 09:29,41,Out
4,__export__.temp_log_196126_d30b72fb,Room Admin,08-12-2018 09:29,31,In
...,...,...,...,...,...
97601,__export__.temp_log_91076_7fbd08ca,Room Admin,28-07-2018 07:07,31,In
97602,__export__.temp_log_147733_62c03f31,Room Admin,28-07-2018 07:07,31,In
97603,__export__.temp_log_100386_84093a68,Room Admin,28-07-2018 07:06,31,In
97604,__export__.temp_log_123297_4d8e690b,Room Admin,28-07-2018 07:06,31,In
97605,__export__.temp_log_133741_32958703,Room Admin,28-07-2018 07:06,31,In

In [3]:
import pandas as pd

# Load the dataset
dataset = pd.read_csv('IOT-temp.csv')

# Split the combined time and date column into separate columns
dataset['noted_date'] = pd.to_datetime(dataset['noted_date'], format='%d-%m-%Y %H:%M')  # Adjust the format as per your dataset
dataset['date'] = dataset['noted_date'].dt.date
dataset['time'] = dataset['noted_date'].dt.time

# Drop the original combined column if desired
dataset = dataset.drop('noted_date', axis=1)

# Print the updated dataset
print(dataset.head())
dataset.to_csv('edited_dataset.csv', index=False)

                                    id  room_id/id  temp out/in        date
0  __export__.temp_log_196134_bd201015  Room Admin    29     In  2018-12-08  \
1  __export__.temp_log_196131_7bca51bc  Room Admin    29     In  2018-12-08
2  __export__.temp_log_196127_522915e3  Room Admin    41    Out  2018-12-08
3  __export__.temp_log_196128_be0919cf  Room Admin    41    Out  2018-12-08
4  __export__.temp_log_196126_d30b72fb  Room Admin    31     In  2018-12-08

       time
0  09:30:00
1  09:30:00
2  09:29:00
3  09:29:00
4  09:29:00

In [4]:
dataset = pd.read_csv('edited_dataset.csv')
dataset

,id,room_id/id,temp,out/in,date,time
0,__export__.temp_log_196134_bd201015,Room Admin,29,In,2018-12-08,09:30:00
1,__export__.temp_log_196131_7bca51bc,Room Admin,29,In,2018-12-08,09:30:00
2,__export__.temp_log_196127_522915e3,Room Admin,41,Out,2018-12-08,09:29:00
3,__export__.temp_log_196128_be0919cf,Room Admin,41,Out,2018-12-08,09:29:00
4,__export__.temp_log_196126_d30b72fb,Room Admin,31,In,2018-12-08,09:29:00
...,...,...,...,...,...,...
97601,__export__.temp_log_91076_7fbd08ca,Room Admin,31,In,2018-07-28,07:07:00
97602,__export__.temp_log_147733_62c03f31,Room Admin,31,In,2018-07-28,07:07:00
97603,__export__.temp_log_100386_84093a68,Room Admin,31,In,2018-07-28,07:06:00
97604,__export__.temp_log_123297_4d8e690b,Room Admin,31,In,2018-07-28,07:06:00
97605,__export__.temp_log_133741_32958703,Room Admin,31,In,2018-07-28,07:06:00

In [5]:
columns_to_drop = ['id', 'room_id/id','date','time']  
dataset.drop(columns_to_drop, axis=1, inplace=True)

In [6]:
dataset

       temp out/in
0        29     In
1        29     In
2        41    Out
3        41    Out
4        31     In
...     ...    ...
97601    31     In
97602    31     In
97603    31     In
97604    31     In
97605    31     In

[97606 rows x 2 columns]

In [7]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

       temp  out/in_Out
0        29       False
1        29       False
2        41        True
3        41        True
4        31       False
...     ...         ...
97601    31       False
97602    31       False
97603    31       False
97604    31       False
97605    31       False

[97606 rows x 2 columns]

In [8]:
dataset["out/in_Out"].value_counts()

out/in_Out
True     77261
False    20345
Name: count, dtype: int64

In [9]:
independent=dataset[['temp']]
dependent=dataset[['out/in_Out']]

In [10]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=1/3,random_state=0)

In [11]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [12]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

param_grid = {'n_neighbors': [3, 5, 7], 'weights': ['uniform', 'distance']}

grid = GridSearchCV(KNeighborsClassifier(), param_grid, refit=True, verbose=3, n_jobs=-1, scoring='f1_weighted')

# Fitting the model for grid search
grid.fit(X_train, Y_train)

Fitting 5 folds for each of 6 candidates, totalling 30 fits

D:\anaconda3\envs\aiml2\lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

GridSearchCV(estimator=KNeighborsClassifier(), n_jobs=-1,
             param_grid={'n_neighbors': [3, 5, 7],
                         'weights': ['uniform', 'distance']},
             scoring='f1_weighted', verbose=3)

In [13]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, grid_predictions)



# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(Y_test, grid_predictions)

In [14]:
print(cm)

[[ 4064  2727]
 [ 6514 19231]]

In [15]:
print(clf_report)

              precision    recall  f1-score   support

       False       0.38      0.60      0.47      6791
        True       0.88      0.75      0.81     25745

    accuracy                           0.72     32536
   macro avg       0.63      0.67      0.64     32536
weighted avg       0.77      0.72      0.74     32536

In [16]:
from sklearn.metrics import roc_auc_score
roc_auc_score(Y_test,grid.predict_proba(X_test)[:,1])

0.8057792637308372